h1 {
  color: rgb(46, 111, 200);
  font-family: 'Bangers', cursive;
  font-size: 72px;
  margin: 5px;
}

#balance {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 33px;
}

#balancedL {
  color: rgb(46, 111, 200);
  font-size: 24px;
  text-align: left;
}

#balancedR {
  color: rgb(46, 111, 200);
  font-size: 24px;
  text-align: right;
}
#show {
  z-index: 10;
  display: inherit;
}

.topbox {
  width: 100%;
  height: 100px;
  margin-bottom: -10px;
}
.topbox h1 {
  text-align: center;
}
.topbox p {
  text-align: center;
}

.gameoveryouwon {
  width: 500px;
  height: 500px;
  background-image: url("../images/gameoveryouwon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*margin: 0px;*/
  margin: 0 auto;
  display: none;
  color: color: rgb(46, 111, 200);
  z-index: -1;
  position: relative;
  border-radius: 20px;
}

.gameoveryouwon h3 {
   color: rgb(46, 111, 200);
   font-size: 39px;
   font-family: 'Abel', sans-serif;
   text-align: left;
   margin: 0px 0px 0px 68px;
}

.gameoveryouwon p {
  color: rgb(46, 111, 200);
  font-size: 39px;
  font-family: 'Abel', sans-serif;
  text-align: left;
  margin: 16px 0px 0px 122px;
  width:  255px;
  background: rgba(255,255,255,0.6);
}

.gameoverfelloff {
  width: 500px;
  height: 500px;
  background-image: url("../images/gameoverfellover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*margin: 0px;*/
  margin: 0 auto;
  display: none;
  color: black;
  z-index: -1;
  position: relative;
  border-radius: 20px;
}

.gameoverfelloff h3 {
  color: rgb(46, 111, 200);
  font-size: 39px;
  font-family: 'Abel', sans-serif;
  text-align: left;
  margin: 0px 5px 0px 30px;
}
#doyouneed {
  color: rgb(46,111,200);
  font-size: 28px;
  font-family: 'Abel', sans-serif;
  text-align: left;
  margin: 0px 5px 0px 155px;
}
.gameoverfelloff p {
  color: rgb(46, 111, 200);
  font-size: 39px;
  font-family: 'Abel', sans-serif;
  text-align: left;
  margin: -39px 0px 0px 122px;
}
.gameoverfelloff h4 {
  color: rgb(46, 111, 200);
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  text-align: left;
  margin: 383px 0px 30px 72px;
  color: darkred;
}

.gameoverhit {
  width: 500px;
  height: 500px;
  /*background-color: rgb(255,0,0);*/
  background-image: url("../images/gameoverhit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: none;
  z-index: -1;
  /*position: absolute;*/
  position: relative;
  border-radius: 20px;
}

.gameoverhit p {
  color: rgb(243,12,26);
  font-size: 32px;
  font-family: 'Abel', sans-serif;
  text-align: left;
  margin: 0px 20px 30px 40px;
  background-color: rgba(0,0,0,0.6);
  width: 226px;
}
  

.gameoverhit h3 {
  color: rgb(241,184,42);
  font-size: 62px;
  font-family: 'Abel', sans-serif;
  text-align: left;
  margin: 0px 5px 0px 30px;
}

.gameoverhit h4 {
  color: rgb(241,184,42);
  font-size: 23px;
  font-family: 'Abel', sans-serif;
  text-align: left;
  margin: -19px 5px 0px 39px;
}


@-webkit-keyframes animateRoad {
  0% {
    background-position: -2000px 0;
  }

  99% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 0 0;
  }
}

.board {
  width: 500px;
  height: 500px;
  /*position: absolute;*/
  position: relative;
  /*background-color: grey;*/
  background-image: url("../images/bgtest4.jpg");
  background-position:  -3000px 0;
  -webkit-animation: animateRoad 5s infinite linear;
  margin: 0 auto;
  z-index: 10;
  display: none;
  overflow: hidden;
  border-radius: 20px;
}

/*.board p {
  text-align: right;
}*/

#bike {
  width: 100px;
  height: 60px;
  /*background-color: tan;*/
  background-image: url("../images/bike.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: 100px;
  /*z-index: 1;*/
  margin: 0px;
  /*padding: 0px;*/

  transition: all 250ms linear;
}

.car {
  width: 230px;
  height: 100px;
  /*background-color: black;*/
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin: 0px;
  /*padding: 0px;*/
}

#cartopR {
  /*width: 100px;
  height: 100px;*/
  /*background-color: blue;*/
  /*background-image: url("../images/blackcab.png");*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*position: absolute; */
  top: 130px;
  left: 600px;
  /*margin: 0px;*/
}

#cartopL {
  /*width: 100px;
  height: 100px;*/
  background-color: violet;                     
  /*position: absolute; */
  top: 130px;
  left: -300px;
  /*margin: 0px;*/
}

#carbottomR {
  /*width: 100px;
  height: 100px;*/
  background-color: gold;                     
  /*position: absolute; */
  top: 320px;
  left: 600px;
  /*margin: 0px;*/
}

#carbottomL {
  /*width: 100px;
  height: 100px;*/
  background-color: green;                     
  /*position: absolute; */
  top: 320px;
  left: -400px;
  /*margin: 0px;*/
}

.bottombox {
   position:absolute;
   bottom:0;
   width:100%;
   /*background: yellow;*/
   text-align: center;
   padding-bottom: 86px;
   font-size: 20px;
   font-family: 'Abel', sans-serif;
   line-height: 58%;
   color: rgb(46, 111, 200);
}
