h1 {
  color: red;
}

.board {
  width: 500px;
  height:400px;
  background-color: grey;
  margin: 0px;
}

#bike {
  width: 100px;
  height: 100px;
  background-color: tan;
  position: absolute;
  top: 200px;
  left: 10px;
  /*z-index: 1;*/
  margin: 0px;

  transition: all 250ms linear;
}

.car {
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
  margin: 0px;
}

#cartopR {
  width: 100px;
  height: 100px;
  /*background-color: blue; */                    
  position: absolute; 
  top: 130px;
  left: 600px;
  margin: 0px;
}
#carbottomR {
  width: 100px;
  height: 100px;
 /* background-color: blue; */                    
  position: absolute; 
  top: 320px;
  left: 600px;
  margin: 0px;
}